################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/command_pattern
/x64/Debug
/command_pattern/x64/Debug
